body{
    text-align: center;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,113,0,1) 14%, rgba(255,226,0,1) 28%, rgba(123,241,129,1) 42%, rgba(0,255,248,1) 55%, rgba(106,0,255,1) 69%, rgba(166,0,255,1) 84%);
    font-family: monospace;
}
  
#top_image{
    border-radius: 50%;
    width: 250px;
}
  
h1{
    text-shadow: 2px 2px #F8BBD0;
    font-family: monospace;
}
  
p{
    font-family: verdana;
    font-size: 25px;
}

.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}

h2{
    text-decoration: underline;
    color: darkblue;
    size: 70%;
}

#Kapil_Dev{
    transform: scale(0.9);
}